.rating {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stars {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.rating p {
    line-height: 1;
    margin: 0;
}

svg {
    width: 2rem;
    aspect-ratio: 1;
    cursor: pointer;
}